<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Car Rentals</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href="css/linearicons.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

<header id="header">
    <div class="container">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a href="index.html"><img src="img/logo.png" alt="" title=""/></a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="cars.html">Cars</a></li>
                    <li><a href="service.html">Service</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a th:href="@{/logout}"><span th:if="${#authorization.expression('isAuthenticated()')}">Log out</span></a></li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
        <div sec:authorize="isAuthenticated()">
            <div class="text-right">
                Welcome <span sec:authentication="name"></span>
            </div>
        </div>
    </div>
</header><!-- #header -->

<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row fullscreen d-flex justify-content-center">
            <div class="col-md-6 col-md-offset-3 mt-70">
                <div th:if="${param.success}">
                    <div class="alert alert-info">
                        You've successfully registered!
                    </div>
                </div>
                <div th:if="${param.failure}">
                    <div class="alert alert-danger">
                        Registration cannot be perfomed now. Please try again later!
                    </div>
                </div>
                <h4 class="text-white pb-30">Join Us!</h4>
                <form class="form" role="form" autocomplete="off" th:action="@{/registration}" th:object="${user}" method="post">

                    <p class="alert alert-danger"
                       th:if="${#fields.hasGlobalErrors()}"
                       th:each="error : ${#fields.errors('global')}"
                       th:text="${error}">Validation error</p>

                    <div class="form-group"
                         th:classappend="${#fields.hasErrors('firstName')}? 'has-error':''">
                        <label for="firstName" class="control-label">First name</label>
                        <input id="firstName"
                               class="form-control"
                               th:field="*{firstName}"/>
                        <p class="alert alert-danger"
                           th:each="error: ${#fields.errors('firstName')}"
                           th:text="${error}">Validation error</p>
                    </div>
                    <div class="form-group"
                         th:classappend="${#fields.hasErrors('lastName')}? 'has-error':''">
                        <label for="lastName" class="control-label">Last name</label>
                        <input id="lastName"
                               class="form-control"
                               th:field="*{lastName}"/>
                        <p class="alert alert-danger"
                           th:each="error : ${#fields.errors('lastName')}"
                           th:text="${error}">Validation error</p>
                    </div>
                    <div class="form-group"
                         th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
                        <label for="email" class="control-label">E-mail</label>
                        <input id="email"
                               class="form-control"
                               th:field="*{email}"/>
                        <p class="alert alert-danger"
                           th:each="error : ${#fields.errors('email')}"
                           th:text="${error}">Validation error</p>
                    </div>
                    <div class="form-group"
                         th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                        <label for="password" class="control-label">Password</label>
                        <input id="password"
                               class="form-control"
                               type="password"
                               th:field="*{password}"/>
                        <p class="alert alert-danger"
                           th:each="error : ${#fields.errors('password')}"
                           th:text="${error}">Validation error</p>
                    </div>
                    <div class="form-group"
                         th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
                        <label for="confirmPassword" class="control-label">Confirm password</label>
                        <input id="confirmPassword"
                               class="form-control"
                               type="password"
                               th:field="*{confirmPassword}"/>
                        <p class="alert alert-danger"
                           th:each="error : ${#fields.errors('confirmPassword')}"
                           th:text="${error}">Validation error</p>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <button type="submit" class="form-control primary-btn btn btn-default btn-lg btn-block text-center text-uppercase">Register</button>
                            <span>Already registered? <a href="/" th:href="@{/login.html}">Log in here</a></span>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->

<script src="js/vendor/jquery-2.2.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="js/easing.min.js"></script>
<script src="js/hoverIntent.js"></script>
<script src="js/superfish.min.js"></script>
<script src="js/jquery.ajaxchimp.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.sticky.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/waypoints.min.js"></script>
<script src="js/jquery.counterup.min.js"></script>
<script src="js/parallax.min.js"></script>
<script src="js/main.js"></script>

</body>
</html>